body{
    font-family: Poppins;
    width: fit-content;
    margin: auto;
}
h1{
    text-align: center;
    font-weight: bolder;
}
#parent{
    width: 100%;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    gap: 15px;
    margin-bottom: 50px;

}
.invimg{
    width: 100%;
    margin-top: 10px;
}
#investor{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 300px);
    gap: 35px 20px;

}
#investor>div{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo{
    width: 40%;
    margin-top: -20px;
}
.logo1{
    width: 50%;
    margin-top: -20px;
}
h4{
    margin-top: 0px;
}
p{
    margin-top: -20px;
}

@media all and (max-width:1023px) and (min-width:768px){
    #investor{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }
}
@media all and (min-width:60px) and (max-width:767px){
    #parent{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
    }
    #investor{
        display: grid;
        grid-template-columns: repeat(2, 300px);
        gap: 20px;
    }
}
